@charset "UTF-8";

* {
            margin: 0;
            padding: 0;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        body {
            background: transparent; /* fundo branco para simular tela */
        }

        img {
            display: block;
            width: 100%;              /* ocupa 100% da largura do iframe */
            height: auto;             /* mantém proporção */
            border-radius: 20px 20px 0 0; /* arredonda só o topo */
        }

        a {
            display: block;
            background-color: #FF001D;
            color: white;
            padding: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            border-radius: 0 0 20px 20px; /* arredonda a parte de baixo */
        }

        a:hover {
            background-color: #ff475c;
        }